.main-content {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}

.empty {
  position: relative;
}

#main-section-content {
  min-height: 50%;
  min-width: 50%;
  border: 1px solid black;
}

.fix {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}